div.itemizedlist ul {
  padding-left: 1em;
}

div.itemizedlist ul li p {
  margin-top: 0.1em;
  margin-bottom: 0em;
}

div.footnote > p:first-child {
  text-indent: 0em;
}

div.footnote > p {
  text-indent: 2em;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

div .note > h3 {
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

div .note > p {
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}
