/* custom.css starts here. */
.app {
    font-style: italic;
    font-weight: bold;
}

/* Menlo,Monaco,Consolas,"Courier New",monospace is what blog and less use. */

.command {
    font-family: "Go Mono","Courier New","Lucida Console",Monospace;
    font-weight: bold;
}

/* I'm undecided about whether I should use program or command, 
   or if they should indeed indicate different things. */
.program {
    font-family: "Go Mono","Courier New","Lucida Console",Monospace;
    font-weight: bold;
}

.file {
    font-family: "Go Mono","Courier New","Lucida Console",Monospace;
    color: #008000;
}

.key {
    font-family: "Go Mono","Courier New","Lucida Console",Monospace;
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f9f2f4;
/*
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
*/
}

.literal {
    font-family: "Go Mono","Courier New","Lucida Console",Monospace
}

.code {
    font-family: "Go Mono","Courier New","Lucida Console",Monospace
}

table {
    border-bottom: 1px solid black;
    margin-bottom: 0.5ex;
}

thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr {
    margin: 0;
    border: 0;
}

div.note {
    border: solid;
}

div.admonition { 
    border: solid;
    padding: 0.5em;
    margin-bottom: 1ex;
}
p.admonition-title {
    font-weight: bold;
    font-family: sans-serif;
}

ul {
    padding-left: 1em;
}

dl.footnote > dt.label {
    padding-left: 0;
    float: left;
    clear: left;
    text-align: left;
    font-size: 100%;
    vertical-align: baseline;
}

dt {
    padding-left: 0;
}

dd {
    padding-left: 2em;
    margin-left: 0;
}

ol {
    padding-left: 1em;
}

ol.loweralpha {
    list-style-type: lower-alpha;
}

ol.upperalpha {
    list-style-type: upper-alpha;
}

ol.lowerroman {
    list-style-type: lower-roman;
}

ol.upperroman {
    list-style-type: upper-roman;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

.footnote-reference.brackets:before { content: "["; }
.footnote-reference.brackets:after { content: "]"; }
.fn-backref:before { content: "["; }
.fn-backref:after { content: "]"; }

/*
.fn-backref {
    font-size: 100%;
    vertical-align: baseline;
}
*/

.footnote-reference {
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.blog-main {
    font-size: 20px;
    line-height: 1.25;
}

div.sidebar-module-inset > h4 {
    font-size: 22px;
    font-weight: bold;
}

div.sidebar-module > h4 {
    font-size: 22px;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .col-sm-offset-1 {
        margin-left: 5%;
    }
}

/* custom.css ends here. */
