/* tkb messing about below. */
.app {
    font-style: italic;
    font-weight: bold;
}

.command {
    font-family: "Courier New","Lucida Console",Monospace;
    font-weight: bold;
}

.file {
    font-family: "Courier New","Lucida Console",Monospace;
}

div.note {
    border: solid;
}

div.admonition { 
    border: solid;
    padding: 0.5em;
}
p.admonition-title {
    font-weight: bold;
    font-family: sans-serif;
}

ul {
    padding-left: 1em;
}

dl.footnote > dt.label {
    padding-left: 0;
    float: left;
    clear: left;
    text-align: left;
    font-size: 100%;
    vertical-align: baseline;
}

dt {
    padding-left: 0;
}

dd {
    padding-left: 2em;
    margin-left: 0;
}

ol {
    padding-left: 1em;
}

ol.loweralpha {
    list-style-type: lower-alpha;
}

ol.upperalpha {
    list-style-type: upper-alpha;
}

ol.lowerroman {
    list-style-type: lower-roman;
}

ol.upperroman {
    list-style-type: upper-roman;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

.footnote-reference.brackets:before { content: "["; }
.footnote-reference.brackets:after { content: "]"; }
.fn-backref:before { content: "["; }
.fn-backref:after { content: "]"; }

/*
.fn-backref {
    font-size: 100%;
    vertical-align: baseline;
}
*/

.footnote-reference {
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.blog-main {
    font-size: 20px;
    line-height: 1.5;
}

div.sidebar-module-inset > h4 {
    font-size: 22px;
    font-weight: bold;
}

div.sidebar-module > h4 {
    font-size: 22px;
    font-weight: bold;
}

/* tkb messing about above. */

